.contact{
    border-collapse: collapse;
  }
  
  .contact tr{
    height: 7rem;
  }
  
  .contact th{
    width: 150px;
    color: #000;
    text-align:right;
  }
  
  .contact td{
    width: 490px;
    padding-left: 10px;
    } 

  .textbox {
    width:480px;
  }
  
  .contact tr:last-child th {
    border-color: #B1B1B1;
  }
  
  .submit-button{
    text-align: center;
  }

  .submit{
    color:white;
    font-size: 3rem;
    border:none;
    border-collapse: collapse;
    border-top-left-radius: 30px;
    background-color: darkblue;
    padding:10px;

  }

  .submit:hover{
    opacity: 0.8;
  }


  .gender {

  }